<a href="https://colab.research.google.com/github/javierunix/tensorflow/blob/master/Copy_of_ca_pandas_1_how_to_filter_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
%cd '/content/drive/My Drive/ca.webinars'

/content/drive/My Drive/ca.webinars

In [ ]:
# !git clone https://github.com/cloudacademy/ca-pandas-webinars.git

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/ca.webinars/ca-pandas-webinars/data/usa_elections2012_pa.csv')
df.head()

      county state   total      Obama  ...  winner  voters    turnout     margin
0      Adams    PA   41973  35.482334  ...  Romney   61156  68.632677  27.629667
1  Allegheny    PA  614671  56.640219  ...   Obama  924351  66.497575  14.454399
2  Armstrong    PA   28322  30.696985  ...  Romney   42147  67.198140  37.204293
3     Beaver    PA   80015  46.032619  ...  Romney  115157  69.483401   6.605012
4    Bedford    PA   21444  22.057452  ...  Romney   32189  66.619031  54.929118

[5 rows x 9 columns]

# Slice the data

We select the rows from 15 (included) to 30 (not included). Oon the other hand we are going to reset the index from the new dataset, and clear the previous index numbers.

In [ ]:
df.iloc[15:30, :].reset_index(drop=True).head()

       county state  total      Obama  ...  winner voters    turnout     margin
0     Clarion    PA  15227  31.069810  ...  Romney  24120  63.130182  36.100348
1  Clearfield    PA  31894  34.780837  ...  Romney  51174  62.324618  28.876905
2     Clinton    PA  12663  43.457317  ...  Romney  22969  55.130829  11.355919
3    Columbia    PA  24305  42.888295  ...  Romney  39888  60.933113  12.429541
4    Crawford    PA  33089  39.360513  ...  Romney  54711  60.479611  19.562392

[5 rows x 9 columns]

In [ ]:
df.loc[15:30, 'county':'Romney'].head()

        county state  total      Obama     Romney
15     Clarion    PA  15227  31.069810  67.170158
16  Clearfield    PA  31894  34.780837  63.657741
17     Clinton    PA  12663  43.457317  54.813235
18    Columbia    PA  24305  42.888295  55.317836
19    Crawford    PA  33089  39.360513  58.922905

In [ ]:
new_indexed_df = df.set_index('county') # we set the 'county' value as index for the dataframe

In [ ]:
new_indexed_df.head()

          state   total      Obama  ...  voters    turnout     margin
county                              ...
Adams        PA   41973  35.482334  ...   61156  68.632677  27.629667
Allegheny    PA  614671  56.640219  ...  924351  66.497575  14.454399
Armstrong    PA   28322  30.696985  ...   42147  67.198140  37.204293
Beaver       PA   80015  46.032619  ...  115157  69.483401   6.605012
Bedford      PA   21444  22.057452  ...   32189  66.619031  54.929118

[5 rows x 8 columns]

In [ ]:
new_indexed_df.loc[['Adams', 'Beaver', 'Fayette'], ['Obama', 'Romney', 'turnout']].head()

             Obama     Romney    turnout
county
Adams    35.482334  63.112001  68.632677
Beaver   46.032619  52.637630  69.483401
Fayette  45.317039  53.624782  52.569235

# Filtering datasets through boolean conditions

In [ ]:
bool_cond = new_indexed_df.index.str.startswith('F') # create a boolean condition that checks if the index starts with 'A'
another_cond = new_indexed_df.turnout > 70 # check if turnout is greater than 7

new_indexed_df[bool_cond & another_cond] # apply the boolean condition to the indexed dataframe

         state  total      Obama  ...  voters    turnout     margin
county                            ...
Forest      PA   2308  38.734835  ...    3232  71.410891  21.100520
Franklin    PA  62802  30.110506  ...   87406  71.850903  38.473297

[2 rows x 8 columns]

In [ ]:
cond_obama = new_indexed_df.winner == 'Obama' # check if winner is obama
new_indexed_df[cond_obama]

             state   total      Obama  ...   voters    turnout     margin
county                                 ...
Allegheny       PA  614671  56.640219  ...   924351  66.497575  14.454399
Bucks           PA  319407  49.966970  ...   435606  73.324748   1.165284
Dauphin         PA  122625  52.362080  ...   178924  68.534685   6.011009
Delaware        PA  272853  60.400655  ...   397338  68.670251  21.819441
Erie            PA  112732  57.779512  ...   176851  63.744056  16.884292
Lackawanna      PA   97116  63.129659  ...   149474  64.971835  27.368302
Lehigh          PA  144922  53.152040  ...   226453  63.996503   7.547508
Luzerne         PA  123741  51.699922  ...   194137  63.739009   4.852878
Monroe          PA   59312  56.364648  ...   108879  54.475151  14.046062
Montgomery      PA  401787  56.637223  ...   551105  72.905708  14.350390
Northampton     PA  125883  51.646370  ...   209414  60.112027   4.585210
Philadelphia    PA  653598  85.224251  ...  1099197  59.461407  71.172800

[12 rows x 8 columns]

In [ ]:
cond_romney = new_indexed_df.winner == 'Romney' # check if winner is romney
new_indexed_df[~cond_romney] # select the data that DO NOT meet the conditions

             state   total      Obama  ...   voters    turnout     margin
county                                 ...
Allegheny       PA  614671  56.640219  ...   924351  66.497575  14.454399
Bucks           PA  319407  49.966970  ...   435606  73.324748   1.165284
Dauphin         PA  122625  52.362080  ...   178924  68.534685   6.011009
Delaware        PA  272853  60.400655  ...   397338  68.670251  21.819441
Erie            PA  112732  57.779512  ...   176851  63.744056  16.884292
Lackawanna      PA   97116  63.129659  ...   149474  64.971835  27.368302
Lehigh          PA  144922  53.152040  ...   226453  63.996503   7.547508
Luzerne         PA  123741  51.699922  ...   194137  63.739009   4.852878
Monroe          PA   59312  56.364648  ...   108879  54.475151  14.046062
Montgomery      PA  401787  56.637223  ...   551105  72.905708  14.350390
Northampton     PA  125883  51.646370  ...   209414  60.112027   4.585210
Philadelphia    PA  653598  85.224251  ...  1099197  59.461407  71.172800

[12 rows x 8 columns]

# Query method

In [ ]:
new_indexed_df.query('turnout > 70')

             state   total      Obama  ...  voters    turnout     margin
county                                 ...
Bucks           PA  319407  49.966970  ...  435606  73.324748   1.165284
Butler          PA   88924  31.920516  ...  122762  72.436096  34.896091
Chester         PA  248295  49.228539  ...  337822  73.498766   0.422079
Forest          PA    2308  38.734835  ...    3232  71.410891  21.100520
Franklin        PA   62802  30.110506  ...   87406  71.850903  38.473297
Montgomery      PA  401787  56.637223  ...  551105  72.905708  14.350390
Westmoreland    PA  168709  37.567646  ...  238006  70.884347  23.738508

[7 rows x 8 columns]

In [ ]:
condition_one = 70
new_indexed_df.query('turnout > @condition_one') # the '@' symbol indicate that 'condition_one' is a global variable

             state   total      Obama  ...  voters    turnout     margin
county                                 ...
Bucks           PA  319407  49.966970  ...  435606  73.324748   1.165284
Butler          PA   88924  31.920516  ...  122762  72.436096  34.896091
Chester         PA  248295  49.228539  ...  337822  73.498766   0.422079
Forest          PA    2308  38.734835  ...    3232  71.410891  21.100520
Franklin        PA   62802  30.110506  ...   87406  71.850903  38.473297
Montgomery      PA  401787  56.637223  ...  551105  72.905708  14.350390
Westmoreland    PA  168709  37.567646  ...  238006  70.884347  23.738508

[7 rows x 8 columns]